.Clock-days {
  font-weight:normal;color:lightgoldenrodyellow;letter-spacing:-1pt;word-spacing:13pt;font-size:56px;text-align:center;font-family:helvetica, sans-serif;line-height:1;
}
.Clock-hours {
  font-weight:normal;color:lightgoldenrodyellow;letter-spacing:0pt;word-spacing:13pt;font-size:46px;text-align:center;font-family:helvetica, sans-serif;line-height:1;
}
.Clock-minutes {
  font-weight:normal;color:lightgoldenrodyellow;letter-spacing:1pt;word-spacing:13pt;font-size:26px;text-align:center;font-family:helvetica, sans-serif;line-height:1;
}
.Clock-seconds {
  font-weight:normal;color:lightgoldenrodyellow;letter-spacing:3pt;word-spacing:13pt;font-size:16px;text-align:center;font-family:helvetica, sans-serif;line-height:1;
}

.Time {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

td {
  padding: 4px;
  text-align: right;

}

td:nth-child(even) {
  padding-left: 24px;
  text-align: left;
}