
.App-Body {
  color: white;
}


h1 {
  font-family: 'Spectral SC', serif;
  color: lightgoldenrodyellow;
  font-size: 86px;
}

h2 {
  font-family: 'Spectral SC', serif;
  color: lightgoldenrodyellow;
  font-size: 64px;
}

h4 {
  font-family: 'Spectral SC', serif;
  color: lightgoldenrodyellow;
  font-size: 24px;
}


h3 {
font-family: 'Patrick Hand', cursive;
  color: black;
  font-size: 42px;
}

p {
font-family: 'Patrick Hand', cursive;
  color: black;
  font-size: 28px;
}
